@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --framer-font-family: 'Space Grotesk', 'Manrope', 'sans-serif';
  --framer-blockquote-font-family: 'Space Grotesk', 'Manrope', 'sans-serif';
}

body {
  @apply font-body text-midnight bg-sand antialiased;
}

::selection {
  background-color: #FFB100;
  color: #111322;
}
